@page
@model HrApp.MVC.Views.Team.NoTeamModel

<div class="text-center mt-5">
    <h1 class="display-4">You are not part of any team</h1>
    <p class="lead">It seems like you are not currently assigned to any team.</p>
    <p>To join a team, please explore the available departments and find a team that suits you.</p>
    <a href="/Departments" class="btn btn-primary btn-lg mt-3">Explore Departments</a>
</div>
