@using HrApp.Application.Teams.DTO
@model List<TeamDTO>

<h1>Teams in the Selected Department</h1>
<p>
    <a asp-action="Create" @* asp-route-id="@ViewBag.IdDept" *@ class="btn btn-outline-secondary">Create New Team</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Team Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td>@team.Name</td>
                <td>
                    <a asp-controller="Team" asp-action="EmployersInTeam" asp-route-id="@team.Id">View Employees</a>
                    <a asp-controller="Team" asp-action="DeleteTeam" asp-route-id="@team.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

