@model HrApp.Application.Authorizations.Command.Add2FA.Add2FARequest
@{
    ViewData["Title"] = "Enable Two-Factor Authentication";
}

<h2>Enable 2FA</h2>

<form asp-action="AddVerf2FA" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <button type="submit" class="btn btn-primary">Send 2FA Code</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}