@using HrApp.Application.Authorizations.Command.Validate2FA
@model Validate2FARequest 

@{
    ViewData["Title"] = "Weryfikacja 2FA";
}

<h2>Weryfikacja 2FA</h2>

<form asp-action="Verf2FA" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Code">Kod weryfikacyjny</label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Zatwierdź</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
