@{
    ViewData["Title"] = "Welcome to HrApp";
}

<div class="d-flex justify-content-center align-items-center vh-70 ">
    <div class="text-center">
        <h1 class="display-4">Welcome to HrApp</h1>
        <p class="lead">Your one-stop solution for managing teams, departments, and employees efficiently.</p>
    </div>
</div>

