@using HrApp.Application.Salary.Command.AddPaid;
@model AddPaidCommand

@{
    ViewData["Title"] = "Add Paid";
    var emial = ViewData["Email"];
}

<h2>Add Paid</h2>

<form asp-action="AddPaid" method="post" asp-antiforgery="true">
    <div class="form-group">
        <label asp-for="BaseSalary"></label>
        <input asp-for="BaseSalary" class="form-control" />
        <span asp-validation-for="BaseSalary" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" value="@emial"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-action="IndexAll" asp-controller="User" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}