@using HrApp.Application.Users.Command.AddUser
@model AddUserCommand

<h1>Create User</h1>

<hr />

<div>
	<div class="col-md-4">
		<form action="/user/create" method="post">
			<div class="form-group mb-3">
				<label class="control-label" asp-for="FirstName">Name</label>
				<input class="form-control" type="text" asp-for="FirstName">
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
			<div class="form-group mb-3">
				<label class="control-label" asp-for="LastName">Surname</label>
				<input class="form-control" type="text" asp-for="LastName" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
			<div class="form-group mb-3">
				<label class="control-label" asp-for="Email">Email</label>
				<input class="form-control" type="email" asp-for="Email" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group mb-3">
				<label class="control-label" asp-for="DateOfBirth">Date of Birth</label>
				<input class="form-control" type="date" asp-for="DateOfBirth" />
				<span asp-validation-for="DateOfBirth" class="text-danger"></span>
			</div>
			<div class="form-group mb-3">
				<label class="control-label" asp-for="Password">Password</label>
				<input class="form-control" type="password" asp-for="Password" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form-group mb-3">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>

		@if (!ViewData.ModelState.IsValid)
		{
			<div class="alert alert-danger">
				@foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
				{
					<p>@error.ErrorMessage</p>
				}
			</div>
		}
	</div>
</div>



@{
}
