@using HrApp.Application.Users.Query.LoginUser
@model LoginUserQuery

<h1>Log yoursel</h1>

<hr />

<div>
    <form action="/user/login" method="post">
        <div>
            <label asp-for="Email">Email</label>
            <input type="text" id="Email" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Password">Password</label>
            <input type="password" id="Password" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit">Log in</button>
    </form>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }
</div>

@{
}
