
<h1>Chose</h1>

<hr />

<div style="text-align:center">
    <a asp-action="ShowFreeAssignments" asp-controller="Assignment" style="margin-right:40">Task without team</a>
    
    <a asp-action="ShowNotFreeAssignments" asp-controller="Assignment" style="margin-left:40">Task with team</a>
</div>

@{
}
